@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif;
    font-style: normal;
    font-size: 1.2em;
}

header{
    padding: 20px;
}

h1{
    background-color: rgba(28, 43, 56, 0.185);
    padding: 10px;
    border: 20px;
    border-radius: 20px;
}