@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
  
}

body {
    background-image: linear-gradient(to right, #007566, #589A8D);
}
p{
    text-align: left;
}
main{
    background-color: #8FC1B5;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 15px #265C4B  ;
    
}

h1{
    color: #265C4B;
    text-align: center;
    text-shadow: 1px 1px 1px #477e73a6;

}

h2{
    color: #002520;


}