@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'droid' ;
    src: url(fontes/idroid.otf);
}

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso ajuda a evitar que bordas aumentem o tamanho da box */
}
       
    body{
        background-color: #84E1AD;
        font-family: 'Roboto';
    }

    a{
        color: white;
        text-decoration: none;
    }
       
    header{
        text-align: center;
        color: white;
        background-color: #39CD7B;
        padding: 70px;
        margin: 0;
        background-image: linear-gradient(to bottom, #39CD7B, #1c633c );
        padding-top: 30px;
        padding-bottom: 100px;        
    }

    header > p{
        margin-top: 24px;
        font-weight: lighter;
        font-size: 18px;
    }
 
    a:hover{
        color: rgba(0, 0, 0, 0.5);
    }

    .menu-links{
        position: absolute;
        left: 0;
        padding: 10px;
        bottom: 345px;
        padding-right: 50px;
        display: flex;
        gap: 15px;       
    }

    main{
        border: 1px solid rgb(255, 254, 254);
        padding-bottom: 500px;
        margin-left: 180px ;
        margin-right:180px ;
        background-color: white;
    }  
     
    .title02{
        color: #195B37 !important;
        text-align: justify;
        font-family: 'droid';
        margin-left: 14px;
        margin-top: 14px;
    }

    main > p{
        text-indent: 30px;
        text-align: justify;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .droidvelho{
        margin-left: 54px;
    }
    
    .irina{
        margin-top: 10px;
        margin-left: 50px;
        
    }

    .droidnovo{
        margin-top: 20px;
        margin-left: 300px;
    }

    .video{
        margin-top: 15px;
        margin-right: 100px;
        margin-bottom: 15px;
        margin-left: 100px;
        
    }

    figure{
        border: 10px solid #1A5C38;
        background-color: #1A5C38;
        margin-left: -1px ;
        margin-right: 0px ;
    }

    .paragrafo{
        margin-bottom: 20px;
    }

    main > footer{
        
        margin-left: 180px;
        margin-right: 180px;
    }

    .box01{
        background-color: #2FA866;
        color: white;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 10px;
        margin-right: -170px;
        margin-left: -170px;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
    }

    #rodape{
        
    }

    